.floating-menu { 
    display: none;
}

@media(max-width: 950px) {

    .floating-menu {
        display: flex;
        /* display: block; */
        /* justify-content: space-evenly; */
        position: fixed;
        bottom: 20px;
        right: 25px;

        background-color: #2D3142;
        padding: 15px 10px;

        border-radius: 10px;
        transition: .3s;

        width: 60px;
        /* width: 210px; */
        overflow: hidden;
    }

    .floating-menu a {
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
        color: #fff;
    }

    .floating-menu a {
        display: flex;
    }
/* 
    .floating-menu a.icons-hidden {
        display: flex;
    } */

        
    .floating-menu a:nth-child(3):hover svg {
        color: #BF288D;
    }

    .floating-menu a:nth-child(4):hover svg {
        color: #04A906;
    }

    .floating-menu a:nth-child(5):hover svg,
    .floating-menu a:nth-child(2):hover svg {
        color: #bbb;
    }
}