* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

[only-responsive] {
  display: none !important; 
}

html {
  overflow-x: hidden;
  width: 100%;
}

body, input, button, textarea {
  font: 500 18px Poppins;
}

select {
  font: 500 16px Poppins;
}

a {
  color: #000;
}

@media(max-width: 950px) {
  [only-responsive] {
    display: inherit;
  }
}