.container {
  margin: 65px 65px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.filter-container {
  width: 70%;
  height: 90px;
  border-radius: 20px;
  border: 1px solid lightgray
  /* background: #bfc0c0; */

  
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin: ; */
}
.imoveis-container {
  margin-top: 80px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.imoveis-container ul li {
  /* width: 300px;
  height: 400px; */
  /* padding: 24px; */
  border: 1px solid lightgray;
  border-radius: 8px;
  /* background: #bfc0c0 ; */
  position: relative;
}