.container {
  margin: 65px 65px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.filter-container {
  width: 70%;
  height: 90px;
  border-radius: 20px;
  border: 1px solid lightgray
  /* background: #bfc0c0; */

  
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin: ; */
}
.imoveis-container {
  margin-top: 80px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.imoveis-container ul {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imoveis-container ul li {

  border: 1px solid lightgray;
  border-radius: 8px;
  position: relative;

  margin: 20px 0;
  padding: 10px;
  width: 250px;
}