.container {
  /* margin-top: 65px; */
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.image-background {
  background-image: url('../images/banner-rj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  width: 100%;

  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background h1 {
  margin-bottom: .25rem;
  color:  #2D3142;
  font-size: 2.5rem;
  font-weight: bold;
}

.background p {
  font-size: 1.3rem;
  color:  #2D3142;
  margin-bottom: 1rem;
}

.divisor-left {
  position: absolute;
  
  height: 70px;
  width: 50%;
  top: 670px;
  left: -5px;
  background: #fff;

  transform: rotate(5deg);
}

.divisor-right {
  position: absolute;
  
  height: 70px;
  width: 50%;
  top: 670px;
  right: -5px;
  background: #fff;

  transform: rotate(-5deg);
}

.filter-container {
  width: 85%;
  max-width: 1300px;
  height: 380px;

  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.7);
  
  padding: 0 15px;
  transition: .3s all;
  
  display: flex;
  align-items: center;
}

.filter-container:hover {
  -webkit-box-shadow: -1px 2px 13px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: -1px 2px 13px -5px rgba(0,0,0,0.7);
  box-shadow: -1px 2px 13px -5px rgba(0,0,0,0.7);
  transform: translateY(-.2rem);
}

.filter-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filter-container div {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 20px 0;
}

.filter-container div:last-child {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  /* width: 350px; */
}

.filter-container div label {
  margin-bottom: .5rem;
}

.filter-container button {
  border: unset;

  height: 35px;
  width: 200px;

  padding: 5px 25px;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #2D3142;
  color: #fff;
  cursor: pointer;
  transition: .5s;
}

.filter-container button:last-child {
  width: 150px;
  background-color: #e96b6b;
}

.filter-container button:hover {
  transform: translateY(-.2rem);
  
  -webkit-box-shadow: 3px 3px 17px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 3px 17px -1px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 17px -1px rgba(0,0,0,0.3);

  background-color: #3e4257;
}

.filter-container button:hover:last-child {
  background-color: #f53c3c;
}


.filter-container button:active {
  transform: scale(.9);
}

.filter-container select {
  padding: 10px;
  width: 80%;

  border: 1px solid #bababa;
  border-radius: 10px;
}

.filter-container select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}


.imoveis-container {
  margin-top: 80px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1300px;
}

.imoveis-container ul {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imoveis-container ul li {
  
  border: 1px solid lightgray;
  border-radius: 8px;
  position: relative;
  
  margin: 20px 10px;
  padding: 10px;
  width: 305px;

  transition: all .3s;
}
          
.imoveis-container ul li:hover {
  -webkit-box-shadow: -1px 3px 22px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 22px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 22px -12px rgba(0,0,0,0.75);

  transform: scale(1.05);
}

.imoveis-container ul li .image-container {
  width: 100%;
  height: auto;
}

.imoveis-container ul li .image-container img {
  width: 100%;
  border-radius: 8px;
}

.imoveis-container ul li .info-container {
  font-size: .9rem;
  margin: .25rem 0;
  color: #444;
}

.imoveis-container ul li .endereco-container {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

.imoveis-container ul li .regiao-container {
  color: #444;
  font-size: 1rem;
}

.imoveis-container ul li .icons-container {
  display: flex;
  margin-top: .5rem;
}
.imoveis-container ul li .icons-container div {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
  color: #444;
}

.imoveis-container ul li .icons-container div span {
  margin-left: .25rem;
  font-size: .9rem;
}

.imoveis-container ul li .price-container {
  margin-top: .5rem;
  color: #197719;
  font-weight: bold;
  font-size: 1.2rem;
}

.not-found-container > *{
  color: #2D3142;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-container h5 {
  width: 70%;
  text-align: center;
  font-size: 1.7rem;
  margin: 25px 45px 25px 0;
}

@media (max-width: 1250px) {
  .filter-container div{
    /* width: 300; */
  }

  .filter-container {
    height: 320px;
  }

  .image-background {
    height: 540px;
  }

  .divisor-left, .divisor-right {
    top: 610px;
  }
}


@media (max-width: 1050px) {
  .filter-container div {
    width: 100%;
  }

  .filter-container div:last-child {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  
  .filter-container select {
    width: 100%;
  }

  .filter-container div button {
    margin: 5px 0;
  }

  .image-background {
    height: unset;
  }

  .background {
    padding-bottom: 25px;

    justify-content: flex-start;
    align-items: center;

  }

  .background h1 {
    margin-top: 2rem;
    font-size: 1.7rem;
    text-align: center;
    width: 90%;
    color:  #2D3142;
  }

  .background p {
    text-align: center;
    font-size: 1rem;
    width: 90%;
    color: #2D3142;
  }
  
  .background p span {
    display: block;
  }

  .divisor-right, .divisor-left {
    display: none;
  }

  .filter-container {
    height: auto;
    padding: 20px;
  }

}